[class^="easycons-"],
[class*=" easycons-"] {
  margin-top: 0.250em;
  padding-bottom: 0.250em;
  vertical-align: middle;
}
[class^="easycons-"].small,
[class*=" easycons-"].small {
  margin-top: 0;
}
.easycons-plus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002B;');
}
.easycons-plus-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002C;');
}
.easycons-anti-clockwise {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27F2;');
}
.easycons-arrow-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x02C5;');
}
.easycons-arrow-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x02C2;');
}
.easycons-arrow-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x02C3;');
}
.easycons-arrow-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x02C4;');
}
.easycons-audio {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x005B;');
}
.easycons-calculator {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0021;');
}
.easycons-check {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2713;');
}
.easycons-clockwise {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x27F3;');
}
.easycons-code {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0025;');
}
.easycons-close {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0023;');
}
.easycons-close-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0026;');
}
.easycons-cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0027;');
}
.easycons-cogs {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0028;');
}
.easycons-headphones {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0048;');
}
.easycons-comments {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x003D;');
}
.easycons-pencil {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0054;');
}
.easycons-earth {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0009;');
}
.easycons-earth-inverted {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x000A;');
}
.easycons-feather {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0042;');
}
.easycons-file-protected {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0043;');
}
.easycons-files {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0044;');
}
.easycons-folder {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0045;');
}
.easycons-gallery {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0046;');
}
.easycons-grid {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0047;');
}
.easycons-heart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2764;');
}
.easycons-heart-broken {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x003E;');
}
.easycons-home {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004A;');
}
.easycons-less {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002D;');
}
.easycons-less-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002E;');
}
.easycons-link {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004C;');
}
.easycons-lifebuoy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004B;');
}
.easycons-marker {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004D;');
}
.easycons-mobile-nav {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004E;');
}
.easycons-tea {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x004F;');
}
.easycons-palette {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0050;');
}
.easycons-paused {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0051;');
}
.easycons-paused-squared {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0052;');
}
.easycons-pen {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0053;');
}
.easycons-picture {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0055;');
}
.easycons-play {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0056;');
}
.easycons-play-squared {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0057;');
}
.easycons-quotes {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0022;');
}
.easycons-sandglass {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0058;');
}
.easycons-share {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0059;');
}
.easycons-star {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002A;');
}
.easycons-star-outline {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0029;');
}
.easycons-stop {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x002F;');
}
.easycons-stop-squared {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0030;');
}
.easycons-tools {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0034;');
}
.easycons-tag {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0032;');
}
.easycons-tags {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0031;');
}
.easycons-time {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0033;');
}
.easycons-tv {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0035;');
}
.easycons-user {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0036;');
}
.easycons-user-update {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0037;');
}
.easycons-video {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0038;');
}
.easycons-video-inverted {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0039;');
}
.easycons-eye {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0041;');
}
.easycons-zoom {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x003A;');
}
.easycons-zoom-in {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x003B;');
}
.easycons-youtube {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0061;');
}
.easycons-youtube-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0062;');
}
.easycons-vimeo {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0063;');
}
.easycons-vimeo-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0064;');
}
.easycons-twitter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0065;');
}
.easycons-twitter-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0066;');
}
.easycons-skype {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0067;');
}
.easycons-skype-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0068;');
}
.easycons-pinterest {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0069;');
}
.easycons-pinterest-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006A;');
}
.easycons-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006B;');
}
.easycons-facebook-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006C;');
}
.easycons-google-plus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006D;');
}
.easycons-google-plus-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006E;');
}
.easycons-dribbble {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x006F;');
}
.easycons-dribbble-rounded {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x0070;');
}
